<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="log.stdout.pattern"
              value="%green(%d{yyyyMMdd'T'HHmmss}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{15}) %msg%n"/>
    <property name="log.level" value="INFO"/>
    <property name="com.neo.log.level" value="INFO"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.stdout.pattern}</pattern>
        </encoder>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.neo" level = "${com.neo.log.level}" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>